body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'sacramento' , cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;  
    color:#11999E; 
}

a{
    color:#11999E;
}

.subtitle{
    font-weight: normal;
}

.top-container{
    background-color: rgb(148, 231, 231);
    position:relative;
    padding-top:100px;
}

.middle-container{

}

.bottom-container {
   
}

.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:299px;
}


.top-cloud { 
    position: absolute;
    right: 200px;
    top: 50px;
}

.pics {
    height: 250px;
    width: 250px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    line-height: 2;
    text-align: left;
}

.person-pic {
    width: 35%;
    float: left;
    margin-right: 50px;
}

.net-pic {
    width: 35%;
    float: right;
    margin-left: 30px;
}